*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
    width: 100vw;


}
main{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128, 128, 0.411);
}
.sidebar{
    background: #000;
    color: #fff;
    height: 100vh;
    width: 500px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 22px;
    color: white;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:royalblue;
    color: #000;
    transition: all 0.5s;
    border-radius: 20px 0px 0px 20px;
}
.active{
    background:rgb(8, 137, 216);
    color: #000;
    border-radius: 20px 0px 0px 20px;
}
.icon, .link_text{
    font-size: 20px;
}

.logout-main{
    display: flex;
    align-items: center;
    padding: 10px 10px 5px 10px;
}
.logout-main:hover{
    background:royalblue;
    color: #000;
    transition: all 0.5s;
    border-radius: 20px 2px 2px 20px;
}

.logout-icon{
    font-size: 23px;
    cursor: pointer;
}

.logout{
    font-size: 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    background: none;
    vertical-align: middle;
}
.logout:hover{
    background: none;
}