.invoices-container{
    height: 100vh;
    overflow-y: scroll;
    padding: 10px 40px;
    width: 80vw;
    border: 5px solid blue;
    border-radius: 30px;
    
}
.invoices-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    background: white;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;

}
.box p{
    width: 20%;
    text-transform: capitalize;

}
.delete-btn{
    background: red;
    color: white;
    padding:5px ;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}
.view-btn{
    background: green;
    background: green;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    color: white;

}